<ion-header>
  <ion-toolbar>
    <ion-navbar padding no-border-bottom>
      <ion-buttons start>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>New Complain</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="PresentPopover($event)">
          <ion-icon ios="md-more" md="md-more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
 <!--  <ion-item>
    <ion-label>Vendor</ion-label>
    <ion-select (ionChange)="setBranchValues(sVendor)"[(ngModel)]="sVendor">
        <ion-option [value]="sVendor" *ngFor="let sVendor of vendors">{{sVendor.name}} </ion-option>
    </ion-select>
</ion-item>
<ion-item *ngIf="selectedBranches">
   <ion-label>Branch</ion-label>
   <ion-select [(ngModel)]="sBranch">
       <ion-option [value]="sBranch" *ngFor="let sBranch of selectedBranches">{{sBranch.name}}</ion-option>
   </ion-select>
</ion-item>
 -->
<form padding [formGroup]="complainForm" (ngSubmit)="onSubmit(complainForm.value)" >
  <ion-col col-12>
    <div input-field>
      <ion-item no-padding>
        <ion-label floating>Subject</ion-label>
        <ion-input type="text" formControlName="subject"></ion-input>
      </ion-item>
    </div>

    <div input-field>
      <ion-item no-padding>
        <ion-label floating>Vendor</ion-label>
        <ion-select formControlName="vendor" (ionChange)="setBranchValues(sVendor)" [(ngModel)]="sVendor">
          <ion-option [value]="sVendor" *ngFor="let sVendor of vendors">{{sVendor.name}} </ion-option>
      </ion-select>
      </ion-item>
    </div>

    <div input-field>
      <ion-item *ngIf="selectedBranches" no-padding>
        <ion-label floating>Branch</ion-label>
        <ion-select formControlName="branch" [(ngModel)]="sBranch">
            <ion-option [value]="sBranch" *ngFor="let sBranch of selectedBranches">{{sBranch.name}}</ion-option>
        </ion-select>
     </ion-item>
    </div>

    <div input-field>
        <ion-item no-padding>
            <ion-label floating>Note</ion-label>
            <ion-textarea placeholder=""
            formControlName="body" [(ngModel)]="body" name="body" autocomplete="on" autocorrect="on"></ion-textarea>
           </ion-item>
    </div>



    <!-- Login button -->
    <ion-col col-12 no-padding>
      <button no-margin color="custorfy" [disabled]="!complainForm.valid" ion-button full text-uppercase >Submit</button>
    </ion-col>

  </ion-col>
</form>


  <ion-fab bottom right #fab1>
    <button ion-fab color="custorfy" (click) = "complainPage()">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
